.buttons {
  position: fixed;
}

.loading-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 73, 134, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.bucket {
  width: 100px;
  height: 100px;

  border: solid 4px white;
  border-top: none;

  display: flex;
  flex-wrap: wrap-reverse;
  align-content: flex-start;
}

.bucket.complete {
  box-sizing: content-box;
  background-color: white;
  border: none;

  animation: spread 3s;
  animation-fill-mode: forwards;
  overflow: hidden;

  position: relative;
}

.bucket > .brand {
  display: none;
}
.bucket.complete > .brand {
  position: absolute;
  top: calc(50% - 55px);
  left: calc(50% - 300px);

  display: block;
  width: 600px;
  text-align: center;
  font-size: 36px;
  color: rgba(0, 73, 134, 1);
  white-space: nowrap;
}

.object {
  width: 20px;
  height: 20px;
  background-color: white;
  animation: drop 1s linear;
}

@keyframes drop {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes spread {
  0% {
  }
  40% {
    width: 100%;
  }
  60% {
    width: 100%;
    height: 100px;
  }
  99% {
    width: 100%;
    height: 0;
  }
  100% {
    height: 0;
    width: 0;
  }
}
