:root {
  --size: 192px;
  --pixel: 12px;

  /* soil */
  --b-1: #b6855f;
  --b-2: #946c4c;
  --b-3: #785539;
  --b-4: #593d28;
  --b-5: #9b918b;

  /* grass */
  --g-1: #a1d372;
  --g-2: #8cbf5d;
  --g-3: #619f37;
}

body {
  padding: 0;
  margin: 0;
  background-color: #edece8;
}

.screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  width: var(--size);
  height: var(--size);
  perspective: calc(var(--size) * 2);
}
.block {
  position: relative;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  animation: rotate 8s linear infinite;
}

.face {
  position: absolute;
  width: var(--size);
  height: var(--size);
}

.front.face {
  transform: rotateY(0deg) translateZ(calc(var(--size) / 2));
}
.back.face {
  transform: rotateY(180deg) translateZ(calc(var(--size) / 2));
}
.top.face {
  transform: rotateX(90deg) translateZ(calc(var(--size) / 2));
}
.bottom.face {
  transform: rotateX(-90deg) translateZ(calc(var(--size) / 2));
}
.left.face {
  transform: rotateY(-90deg) translateZ(calc(var(--size) / 2));
}
.right.face {
  transform: rotateY(90deg) translateZ(calc(var(--size) / 2));
}

.face::before,
.face::after {
  content: " ";
  position: absolute;
  top: calc(var(--pixel) * -1);
  left: calc(var(--pixel) * -1);

  width: var(--pixel);
  height: var(--pixel);

  background: transparent;
}

.top.face::before,
.bottom.face::before,
.front.face::before,
.back.face::before,
.left.face::before,
.right.face::before {
  box-shadow:
    /* r:1 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 1) 0  var(--b-1),
    calc(var(--pixel) * 2) calc(var(--pixel) * 1) 0  var(--b-2),
    calc(var(--pixel) * 3) calc(var(--pixel) * 1) 0  var(--b-2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 1) 0  var(--b-3),
    calc(var(--pixel) * 5) calc(var(--pixel) * 1) 0  var(--b-3),
    calc(var(--pixel) * 6) calc(var(--pixel) * 1) 0  var(--b-1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 1) 0  var(--b-5),
    calc(var(--pixel) * 8) calc(var(--pixel) * 1) 0  var(--b-2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 1) 0  var(--b-3),
    calc(var(--pixel) * 10) calc(var(--pixel) * 1) 0 var(--b-4),
    calc(var(--pixel) * 11) calc(var(--pixel) * 1) 0 var(--b-4),
    calc(var(--pixel) * 12) calc(var(--pixel) * 1) 0 var(--b-1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 1) 0 var(--b-1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 1) 0 var(--b-2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 1) 0 var(--b-2),
    calc(var(--pixel) * 16) calc(var(--pixel) * 1) 0 var(--b-1),
    /* r:2 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 2) 0  var(--b-3),
    calc(var(--pixel) * 2) calc(var(--pixel) * 2) 0  var(--b-3),
    calc(var(--pixel) * 3) calc(var(--pixel) * 2) 0  var(--b-3),
    calc(var(--pixel) * 4) calc(var(--pixel) * 2) 0  var(--b-1),
    calc(var(--pixel) * 5) calc(var(--pixel) * 2) 0  var(--b-1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 2) 0  var(--b-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 2) 0  var(--b-2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 2) 0  var(--b-4),
    calc(var(--pixel) * 9) calc(var(--pixel) * 2) 0  var(--b-2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 2) 0 var(--b-2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 2) 0 var(--b-2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 2) 0 var(--b-2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 2) 0 var(--b-4),
    calc(var(--pixel) * 14) calc(var(--pixel) * 2) 0 var(--b-2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 2) 0 var(--b-2),
    calc(var(--pixel) * 16) calc(var(--pixel) * 2) 0 var(--b-4),
    /* r:3 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 3) 0  var(--b-1),
    calc(var(--pixel) * 2) calc(var(--pixel) * 3) 0  var(--b-1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 3) 0  var(--b-4),
    calc(var(--pixel) * 4) calc(var(--pixel) * 3) 0  var(--b-3),
    calc(var(--pixel) * 5) calc(var(--pixel) * 3) 0  var(--b-3),
    calc(var(--pixel) * 6) calc(var(--pixel) * 3) 0  var(--b-4),
    calc(var(--pixel) * 7) calc(var(--pixel) * 3) 0  var(--b-2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 3) 0  var(--b-2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 3) 0  var(--b-2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 3) 0 var(--b-4),
    calc(var(--pixel) * 11) calc(var(--pixel) * 3) 0 var(--b-2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 3) 0 var(--b-1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 3) 0 var(--b-2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 3) 0 var(--b-1),
    calc(var(--pixel) * 15) calc(var(--pixel) * 3) 0 var(--b-2),
    calc(var(--pixel) * 16) calc(var(--pixel) * 3) 0 var(--b-5),
    /* r:4 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 4) 0  var(--b-4),
    calc(var(--pixel) * 2) calc(var(--pixel) * 4) 0  var(--b-5),
    calc(var(--pixel) * 3) calc(var(--pixel) * 4) 0  var(--b-2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 4) 0  var(--b-4),
    calc(var(--pixel) * 5) calc(var(--pixel) * 4) 0  var(--b-2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 4) 0  var(--b-1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 4) 0  var(--b-1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 4) 0  var(--b-2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 4) 0  var(--b-2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 4) 0 var(--b-4),
    calc(var(--pixel) * 11) calc(var(--pixel) * 4) 0 var(--b-1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 4) 0 var(--b-1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 4) 0 var(--b-2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 4) 0 var(--b-2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 4) 0 var(--b-3),
    calc(var(--pixel) * 16) calc(var(--pixel) * 4) 0 var(--b-1),
    /* r:5 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 5) 0  var(--b-4),
    calc(var(--pixel) * 2) calc(var(--pixel) * 5) 0  var(--b-2),
    calc(var(--pixel) * 3) calc(var(--pixel) * 5) 0  var(--b-3),
    calc(var(--pixel) * 4) calc(var(--pixel) * 5) 0  var(--b-2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 5) 0  var(--b-2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 5) 0  var(--b-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 5) 0  var(--b-2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 5) 0  var(--b-4),
    calc(var(--pixel) * 9) calc(var(--pixel) * 5) 0  var(--b-2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 5) 0 var(--b-1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 5) 0 var(--b-1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 5) 0 var(--b-2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 5) 0 var(--b-2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 5) 0 var(--b-4),
    calc(var(--pixel) * 15) calc(var(--pixel) * 5) 0 var(--b-5),
    calc(var(--pixel) * 16) calc(var(--pixel) * 5) 0 var(--b-4),
    /* r:6 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 6) 0  var(--b-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 6) 0  var(--b-4),
    calc(var(--pixel) * 3) calc(var(--pixel) * 6) 0  var(--b-3),
    calc(var(--pixel) * 4) calc(var(--pixel) * 6) 0  var(--b-3),
    calc(var(--pixel) * 5) calc(var(--pixel) * 6) 0  var(--b-1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 6) 0  var(--b-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 6) 0  var(--b-4),
    calc(var(--pixel) * 8) calc(var(--pixel) * 6) 0  var(--b-4),
    calc(var(--pixel) * 9) calc(var(--pixel) * 6) 0  var(--b-4),
    calc(var(--pixel) * 10) calc(var(--pixel) * 6) 0 var(--b-4),
    calc(var(--pixel) * 11) calc(var(--pixel) * 6) 0 var(--b-3),
    calc(var(--pixel) * 12) calc(var(--pixel) * 6) 0 var(--b-2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 6) 0 var(--b-1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 6) 0 var(--b-2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 6) 0 var(--b-1),
    calc(var(--pixel) * 16) calc(var(--pixel) * 6) 0 var(--b-1),
    /* r:7 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 7) 0  var(--b-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 7) 0  var(--b-2),
    calc(var(--pixel) * 3) calc(var(--pixel) * 7) 0  var(--b-3),
    calc(var(--pixel) * 4) calc(var(--pixel) * 7) 0  var(--b-1),
    calc(var(--pixel) * 5) calc(var(--pixel) * 7) 0  var(--b-3),
    calc(var(--pixel) * 6) calc(var(--pixel) * 7) 0  var(--b-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 7) 0  var(--b-2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 7) 0  var(--b-1),
    calc(var(--pixel) * 9) calc(var(--pixel) * 7) 0  var(--b-2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 7) 0 var(--b-5),
    calc(var(--pixel) * 11) calc(var(--pixel) * 7) 0 var(--b-3),
    calc(var(--pixel) * 12) calc(var(--pixel) * 7) 0 var(--b-2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 7) 0 var(--b-1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 7) 0 var(--b-2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 7) 0 var(--b-1),
    calc(var(--pixel) * 16) calc(var(--pixel) * 7) 0 var(--b-1),
    /* r:8 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 8) 0  var(--b-4),
    calc(var(--pixel) * 2) calc(var(--pixel) * 8) 0  var(--b-1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 8) 0  var(--b-4),
    calc(var(--pixel) * 4) calc(var(--pixel) * 8) 0  var(--b-1),
    calc(var(--pixel) * 5) calc(var(--pixel) * 8) 0  var(--b-2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 8) 0  var(--b-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 8) 0  var(--b-2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 8) 0  var(--b-1),
    calc(var(--pixel) * 9) calc(var(--pixel) * 8) 0  var(--b-2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 8) 0 var(--b-2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 8) 0 var(--b-3),
    calc(var(--pixel) * 12) calc(var(--pixel) * 8) 0 var(--b-1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 8) 0 var(--b-2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 8) 0 var(--b-2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 8) 0 var(--b-4),
    calc(var(--pixel) * 16) calc(var(--pixel) * 8) 0 var(--b-4),
    /* r:9 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 9) 0  var(--b-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 9) 0  var(--b-1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 9) 0  var(--b-4),
    calc(var(--pixel) * 4) calc(var(--pixel) * 9) 0  var(--b-1),
    calc(var(--pixel) * 5) calc(var(--pixel) * 9) 0  var(--b-3),
    calc(var(--pixel) * 6) calc(var(--pixel) * 9) 0  var(--b-1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 9) 0  var(--b-3),
    calc(var(--pixel) * 8) calc(var(--pixel) * 9) 0  var(--b-3),
    calc(var(--pixel) * 9) calc(var(--pixel) * 9) 0  var(--b-2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 9) 0 var(--b-1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 9) 0 var(--b-2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 9) 0 var(--b-2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 9) 0 var(--b-3),
    calc(var(--pixel) * 14) calc(var(--pixel) * 9) 0 var(--b-3),
    calc(var(--pixel) * 15) calc(var(--pixel) * 9) 0 var(--b-4),
    calc(var(--pixel) * 16) calc(var(--pixel) * 9) 0 var(--b-2),
    /* r:10 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 10) 0  var(--b-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 10) 0  var(--b-2),
    calc(var(--pixel) * 3) calc(var(--pixel) * 10) 0  var(--b-4),
    calc(var(--pixel) * 4) calc(var(--pixel) * 10) 0  var(--b-3),
    calc(var(--pixel) * 5) calc(var(--pixel) * 10) 0  var(--b-3),
    calc(var(--pixel) * 6) calc(var(--pixel) * 10) 0  var(--b-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 10) 0  var(--b-3),
    calc(var(--pixel) * 8) calc(var(--pixel) * 10) 0  var(--b-2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 10) 0  var(--b-4),
    calc(var(--pixel) * 10) calc(var(--pixel) * 10) 0 var(--b-4),
    calc(var(--pixel) * 11) calc(var(--pixel) * 10) 0 var(--b-4),
    calc(var(--pixel) * 12) calc(var(--pixel) * 10) 0 var(--b-2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 10) 0 var(--b-2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 10) 0 var(--b-5),
    calc(var(--pixel) * 15) calc(var(--pixel) * 10) 0 var(--b-4),
    calc(var(--pixel) * 16) calc(var(--pixel) * 10) 0 var(--b-2),
    /* r:11 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 11) 0  var(--b-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 11) 0  var(--b-1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 11) 0  var(--b-2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 11) 0  var(--b-4),
    calc(var(--pixel) * 5) calc(var(--pixel) * 11) 0  var(--b-3),
    calc(var(--pixel) * 6) calc(var(--pixel) * 11) 0  var(--b-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 11) 0  var(--b-3),
    calc(var(--pixel) * 8) calc(var(--pixel) * 11) 0  var(--b-2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 11) 0  var(--b-1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 11) 0 var(--b-1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 11) 0 var(--b-2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 11) 0 var(--b-2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 11) 0 var(--b-1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 11) 0 var(--b-1),
    calc(var(--pixel) * 15) calc(var(--pixel) * 11) 0 var(--b-2),
    calc(var(--pixel) * 16) calc(var(--pixel) * 11) 0 var(--b-1),
    /* r:12 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 12) 0  var(--b-1),
    calc(var(--pixel) * 2) calc(var(--pixel) * 12) 0  var(--b-1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 12) 0  var(--b-2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 12) 0  var(--b-5),
    calc(var(--pixel) * 5) calc(var(--pixel) * 12) 0  var(--b-4),
    calc(var(--pixel) * 6) calc(var(--pixel) * 12) 0  var(--b-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 12) 0  var(--b-3),
    calc(var(--pixel) * 8) calc(var(--pixel) * 12) 0  var(--b-3),
    calc(var(--pixel) * 9) calc(var(--pixel) * 12) 0  var(--b-1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 12) 0 var(--b-2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 12) 0 var(--b-2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 12) 0 var(--b-2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 12) 0 var(--b-1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 12) 0 var(--b-1),
    calc(var(--pixel) * 15) calc(var(--pixel) * 12) 0 var(--b-2),
    calc(var(--pixel) * 16) calc(var(--pixel) * 12) 0 var(--b-2),
    /* r:13 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 13) 0  var(--b-3),
    calc(var(--pixel) * 2) calc(var(--pixel) * 13) 0  var(--b-1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 13) 0  var(--b-1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 13) 0  var(--b-4),
    calc(var(--pixel) * 5) calc(var(--pixel) * 13) 0  var(--b-1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 13) 0  var(--b-1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 13) 0  var(--b-1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 13) 0  var(--b-2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 13) 0  var(--b-1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 13) 0 var(--b-1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 13) 0 var(--b-2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 13) 0 var(--b-2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 13) 0 var(--b-3),
    calc(var(--pixel) * 14) calc(var(--pixel) * 13) 0 var(--b-1),
    calc(var(--pixel) * 15) calc(var(--pixel) * 13) 0 var(--b-3),
    calc(var(--pixel) * 16) calc(var(--pixel) * 13) 0 var(--b-3),
    /* r:14 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 14) 0  var(--b-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 14) 0  var(--b-4),
    calc(var(--pixel) * 3) calc(var(--pixel) * 14) 0  var(--b-4),
    calc(var(--pixel) * 4) calc(var(--pixel) * 14) 0  var(--b-2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 14) 0  var(--b-1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 14) 0  var(--b-1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 14) 0  var(--b-3),
    calc(var(--pixel) * 8) calc(var(--pixel) * 14) 0  var(--b-1),
    calc(var(--pixel) * 9) calc(var(--pixel) * 14) 0  var(--b-2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 14) 0 var(--b-1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 14) 0 var(--b-4),
    calc(var(--pixel) * 12) calc(var(--pixel) * 14) 0 var(--b-3),
    calc(var(--pixel) * 13) calc(var(--pixel) * 14) 0 var(--b-3),
    calc(var(--pixel) * 14) calc(var(--pixel) * 14) 0 var(--b-1),
    calc(var(--pixel) * 15) calc(var(--pixel) * 14) 0 var(--b-3),
    calc(var(--pixel) * 16) calc(var(--pixel) * 14) 0 var(--b-5),
    /* r:15 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 15) 0  var(--b-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 15) 0  var(--b-2),
    calc(var(--pixel) * 3) calc(var(--pixel) * 15) 0  var(--b-2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 15) 0  var(--b-2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 15) 0  var(--b-1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 15) 0  var(--b-4),
    calc(var(--pixel) * 7) calc(var(--pixel) * 15) 0  var(--b-3),
    calc(var(--pixel) * 8) calc(var(--pixel) * 15) 0  var(--b-5),
    calc(var(--pixel) * 9) calc(var(--pixel) * 15) 0  var(--b-3),
    calc(var(--pixel) * 10) calc(var(--pixel) * 15) 0 var(--b-1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 15) 0 var(--b-1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 15) 0 var(--b-3),
    calc(var(--pixel) * 13) calc(var(--pixel) * 15) 0 var(--b-3),
    calc(var(--pixel) * 14) calc(var(--pixel) * 15) 0 var(--b-4),
    calc(var(--pixel) * 15) calc(var(--pixel) * 15) 0 var(--b-1),
    calc(var(--pixel) * 16) calc(var(--pixel) * 15) 0 var(--b-4),
    /* r:16 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 16) 0  var(--b-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 16) 0  var(--b-5),
    calc(var(--pixel) * 3) calc(var(--pixel) * 16) 0  var(--b-4),
    calc(var(--pixel) * 4) calc(var(--pixel) * 16) 0  var(--b-1),
    calc(var(--pixel) * 5) calc(var(--pixel) * 16) 0  var(--b-1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 16) 0  var(--b-4),
    calc(var(--pixel) * 7) calc(var(--pixel) * 16) 0  var(--b-4),
    calc(var(--pixel) * 8) calc(var(--pixel) * 16) 0  var(--b-3),
    calc(var(--pixel) * 9) calc(var(--pixel) * 16) 0  var(--b-3),
    calc(var(--pixel) * 10) calc(var(--pixel) * 16) 0 var(--b-1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 16) 0 var(--b-3),
    calc(var(--pixel) * 12) calc(var(--pixel) * 16) 0 var(--b-1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 16) 0 var(--b-3),
    calc(var(--pixel) * 14) calc(var(--pixel) * 16) 0 var(--b-4),
    calc(var(--pixel) * 15) calc(var(--pixel) * 16) 0 var(--b-2),
    calc(var(--pixel) * 16) calc(var(--pixel) * 16) 0 var(--b-4);
}

/* with grass */
.grass:checked ~ .screen .top.face::after {
  box-shadow:
    /* r:1 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 1) 0  var(--g-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 1) 0  var(--g-2),
    calc(var(--pixel) * 3) calc(var(--pixel) * 1) 0  var(--g-2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 1) 0  var(--g-3),
    calc(var(--pixel) * 5) calc(var(--pixel) * 1) 0  var(--g-3),
    calc(var(--pixel) * 6) calc(var(--pixel) * 1) 0  var(--g-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 1) 0  var(--g-3),
    calc(var(--pixel) * 8) calc(var(--pixel) * 1) 0  var(--g-2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 1) 0  var(--g-1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 1) 0 var(--g-2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 1) 0 var(--g-2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 1) 0 var(--g-3),
    calc(var(--pixel) * 13) calc(var(--pixel) * 1) 0 var(--g-3),
    calc(var(--pixel) * 14) calc(var(--pixel) * 1) 0 var(--g-3),
    calc(var(--pixel) * 15) calc(var(--pixel) * 1) 0 var(--g-3),
    calc(var(--pixel) * 16) calc(var(--pixel) * 1) 0 var(--g-2),
    /* r:2 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 2) 0  var(--g-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 2) 0  var(--g-2),
    calc(var(--pixel) * 3) calc(var(--pixel) * 2) 0  var(--g-1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 2) 0  var(--g-2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 2) 0  var(--g-2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 2) 0  var(--g-3),
    calc(var(--pixel) * 7) calc(var(--pixel) * 2) 0  var(--g-3),
    calc(var(--pixel) * 8) calc(var(--pixel) * 2) 0  var(--g-3),
    calc(var(--pixel) * 9) calc(var(--pixel) * 2) 0  var(--g-3),
    calc(var(--pixel) * 10) calc(var(--pixel) * 2) 0 var(--g-1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 2) 0 var(--g-1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 2) 0 var(--g-2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 2) 0 var(--g-3),
    calc(var(--pixel) * 14) calc(var(--pixel) * 2) 0 var(--g-2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 2) 0 var(--g-3),
    calc(var(--pixel) * 16) calc(var(--pixel) * 2) 0 var(--g-2),
    /* r:3 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 3) 0  var(--g-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 3) 0  var(--g-1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 3) 0  var(--g-1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 3) 0  var(--g-3),
    calc(var(--pixel) * 5) calc(var(--pixel) * 3) 0  var(--g-3),
    calc(var(--pixel) * 6) calc(var(--pixel) * 3) 0  var(--g-3),
    calc(var(--pixel) * 7) calc(var(--pixel) * 3) 0  var(--g-2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 3) 0  var(--g-2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 3) 0  var(--g-2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 3) 0 var(--g-1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 3) 0 var(--g-1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 3) 0 var(--g-1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 3) 0 var(--g-3),
    calc(var(--pixel) * 14) calc(var(--pixel) * 3) 0 var(--g-3),
    calc(var(--pixel) * 15) calc(var(--pixel) * 3) 0 var(--g-3),
    calc(var(--pixel) * 16) calc(var(--pixel) * 3) 0 var(--g-1),
    /* r:4 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 4) 0  var(--g-3),
    calc(var(--pixel) * 2) calc(var(--pixel) * 4) 0  var(--g-3),
    calc(var(--pixel) * 3) calc(var(--pixel) * 4) 0  var(--g-2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 4) 0  var(--g-2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 4) 0  var(--g-2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 4) 0  var(--g-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 4) 0  var(--g-3),
    calc(var(--pixel) * 8) calc(var(--pixel) * 4) 0  var(--g-3),
    calc(var(--pixel) * 9) calc(var(--pixel) * 4) 0  var(--g-3),
    calc(var(--pixel) * 10) calc(var(--pixel) * 4) 0 var(--g-3),
    calc(var(--pixel) * 11) calc(var(--pixel) * 4) 0 var(--g-2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 4) 0 var(--g-2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 4) 0 var(--g-2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 4) 0 var(--g-2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 4) 0 var(--g-2),
    calc(var(--pixel) * 16) calc(var(--pixel) * 4) 0 var(--g-3),
    /* r:5 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 5) 0  var(--g-1),
    calc(var(--pixel) * 2) calc(var(--pixel) * 5) 0  var(--g-3),
    calc(var(--pixel) * 3) calc(var(--pixel) * 5) 0  var(--g-2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 5) 0  var(--g-3),
    calc(var(--pixel) * 5) calc(var(--pixel) * 5) 0  var(--g-2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 5) 0  var(--g-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 5) 0  var(--g-3),
    calc(var(--pixel) * 8) calc(var(--pixel) * 5) 0  var(--g-2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 5) 0  var(--g-1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 5) 0 var(--g-3),
    calc(var(--pixel) * 11) calc(var(--pixel) * 5) 0 var(--g-3),
    calc(var(--pixel) * 12) calc(var(--pixel) * 5) 0 var(--g-2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 5) 0 var(--g-2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 5) 0 var(--g-3),
    calc(var(--pixel) * 15) calc(var(--pixel) * 5) 0 var(--g-2),
    calc(var(--pixel) * 16) calc(var(--pixel) * 5) 0 var(--g-2),
    /* r:6 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 6) 0  var(--g-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 6) 0  var(--g-2),
    calc(var(--pixel) * 3) calc(var(--pixel) * 6) 0  var(--g-3),
    calc(var(--pixel) * 4) calc(var(--pixel) * 6) 0  var(--g-1),
    calc(var(--pixel) * 5) calc(var(--pixel) * 6) 0  var(--g-3),
    calc(var(--pixel) * 6) calc(var(--pixel) * 6) 0  var(--g-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 6) 0  var(--g-2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 6) 0  var(--g-1),
    calc(var(--pixel) * 9) calc(var(--pixel) * 6) 0  var(--g-3),
    calc(var(--pixel) * 10) calc(var(--pixel) * 6) 0 var(--g-2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 6) 0 var(--g-3),
    calc(var(--pixel) * 12) calc(var(--pixel) * 6) 0 var(--g-3),
    calc(var(--pixel) * 13) calc(var(--pixel) * 6) 0 var(--g-3),
    calc(var(--pixel) * 14) calc(var(--pixel) * 6) 0 var(--g-3),
    calc(var(--pixel) * 15) calc(var(--pixel) * 6) 0 var(--g-2),
    calc(var(--pixel) * 16) calc(var(--pixel) * 6) 0 var(--g-2),
    /* r:7 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 7) 0  var(--g-3),
    calc(var(--pixel) * 2) calc(var(--pixel) * 7) 0  var(--g-1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 7) 0  var(--g-1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 7) 0  var(--g-2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 7) 0  var(--g-2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 7) 0  var(--g-3),
    calc(var(--pixel) * 7) calc(var(--pixel) * 7) 0  var(--g-2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 7) 0  var(--g-3),
    calc(var(--pixel) * 9) calc(var(--pixel) * 7) 0  var(--g-3),
    calc(var(--pixel) * 10) calc(var(--pixel) * 7) 0 var(--g-3),
    calc(var(--pixel) * 11) calc(var(--pixel) * 7) 0 var(--g-1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 7) 0 var(--g-2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 7) 0 var(--g-3),
    calc(var(--pixel) * 14) calc(var(--pixel) * 7) 0 var(--g-2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 7) 0 var(--g-3),
    calc(var(--pixel) * 16) calc(var(--pixel) * 7) 0 var(--g-3),
    /* r:8 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 8) 0  var(--g-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 8) 0  var(--g-3),
    calc(var(--pixel) * 3) calc(var(--pixel) * 8) 0  var(--g-1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 8) 0  var(--g-3),
    calc(var(--pixel) * 5) calc(var(--pixel) * 8) 0  var(--g-3),
    calc(var(--pixel) * 6) calc(var(--pixel) * 8) 0  var(--g-3),
    calc(var(--pixel) * 7) calc(var(--pixel) * 8) 0  var(--g-1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 8) 0  var(--g-3),
    calc(var(--pixel) * 9) calc(var(--pixel) * 8) 0  var(--g-2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 8) 0 var(--g-2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 8) 0 var(--g-3),
    calc(var(--pixel) * 12) calc(var(--pixel) * 8) 0 var(--g-3),
    calc(var(--pixel) * 13) calc(var(--pixel) * 8) 0 var(--g-2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 8) 0 var(--g-1),
    calc(var(--pixel) * 15) calc(var(--pixel) * 8) 0 var(--g-3),
    calc(var(--pixel) * 16) calc(var(--pixel) * 8) 0 var(--g-1),
    /* r:9 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 9) 0  var(--g-3),
    calc(var(--pixel) * 2) calc(var(--pixel) * 9) 0  var(--g-2),
    calc(var(--pixel) * 3) calc(var(--pixel) * 9) 0  var(--g-1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 9) 0  var(--g-2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 9) 0  var(--g-2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 9) 0  var(--g-3),
    calc(var(--pixel) * 7) calc(var(--pixel) * 9) 0  var(--g-2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 9) 0  var(--g-2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 9) 0  var(--g-1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 9) 0 var(--g-2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 9) 0 var(--g-3),
    calc(var(--pixel) * 12) calc(var(--pixel) * 9) 0 var(--g-2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 9) 0 var(--g-3),
    calc(var(--pixel) * 14) calc(var(--pixel) * 9) 0 var(--g-2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 9) 0 var(--g-3),
    calc(var(--pixel) * 16) calc(var(--pixel) * 9) 0 var(--g-3),
    /* r:10 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 10) 0  var(--g-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 10) 0  var(--g-3),
    calc(var(--pixel) * 3) calc(var(--pixel) * 10) 0  var(--g-1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 10) 0  var(--g-2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 10) 0  var(--g-2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 10) 0  var(--g-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 10) 0  var(--g-1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 10) 0  var(--g-3),
    calc(var(--pixel) * 9) calc(var(--pixel) * 10) 0  var(--g-3),
    calc(var(--pixel) * 10) calc(var(--pixel) * 10) 0 var(--g-2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 10) 0 var(--g-2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 10) 0 var(--g-1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 10) 0 var(--g-2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 10) 0 var(--g-1),
    calc(var(--pixel) * 15) calc(var(--pixel) * 10) 0 var(--g-2),
    calc(var(--pixel) * 16) calc(var(--pixel) * 10) 0 var(--g-3),
    /* r:11 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 11) 0  var(--g-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 11) 0  var(--g-1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 11) 0  var(--g-2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 11) 0  var(--g-1),
    calc(var(--pixel) * 5) calc(var(--pixel) * 11) 0  var(--g-3),
    calc(var(--pixel) * 6) calc(var(--pixel) * 11) 0  var(--g-1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 11) 0  var(--g-2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 11) 0  var(--g-2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 11) 0  var(--g-1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 11) 0 var(--g-3),
    calc(var(--pixel) * 11) calc(var(--pixel) * 11) 0 var(--g-2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 11) 0 var(--g-3),
    calc(var(--pixel) * 13) calc(var(--pixel) * 11) 0 var(--g-2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 11) 0 var(--g-3),
    calc(var(--pixel) * 15) calc(var(--pixel) * 11) 0 var(--g-3),
    calc(var(--pixel) * 16) calc(var(--pixel) * 11) 0 var(--g-2),
    /* r:12 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 12) 0  var(--g-3),
    calc(var(--pixel) * 2) calc(var(--pixel) * 12) 0  var(--g-1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 12) 0  var(--g-3),
    calc(var(--pixel) * 4) calc(var(--pixel) * 12) 0  var(--g-1),
    calc(var(--pixel) * 5) calc(var(--pixel) * 12) 0  var(--g-2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 12) 0  var(--g-3),
    calc(var(--pixel) * 7) calc(var(--pixel) * 12) 0  var(--g-2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 12) 0  var(--g-2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 12) 0  var(--g-2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 12) 0 var(--g-2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 12) 0 var(--g-2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 12) 0 var(--g-3),
    calc(var(--pixel) * 13) calc(var(--pixel) * 12) 0 var(--g-3),
    calc(var(--pixel) * 14) calc(var(--pixel) * 12) 0 var(--g-3),
    calc(var(--pixel) * 15) calc(var(--pixel) * 12) 0 var(--g-3),
    calc(var(--pixel) * 16) calc(var(--pixel) * 12) 0 var(--g-1),
    /* r:13 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 13) 0  var(--g-1),
    calc(var(--pixel) * 2) calc(var(--pixel) * 13) 0  var(--g-2),
    calc(var(--pixel) * 3) calc(var(--pixel) * 13) 0  var(--g-3),
    calc(var(--pixel) * 4) calc(var(--pixel) * 13) 0  var(--g-2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 13) 0  var(--g-2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 13) 0  var(--g-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 13) 0  var(--g-3),
    calc(var(--pixel) * 8) calc(var(--pixel) * 13) 0  var(--g-3),
    calc(var(--pixel) * 9) calc(var(--pixel) * 13) 0  var(--g-3),
    calc(var(--pixel) * 10) calc(var(--pixel) * 13) 0 var(--g-2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 13) 0 var(--g-2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 13) 0 var(--g-3),
    calc(var(--pixel) * 13) calc(var(--pixel) * 13) 0 var(--g-1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 13) 0 var(--g-1),
    calc(var(--pixel) * 15) calc(var(--pixel) * 13) 0 var(--g-3),
    calc(var(--pixel) * 16) calc(var(--pixel) * 13) 0 var(--g-3),
    /* r:14 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 14) 0  var(--g-1),
    calc(var(--pixel) * 2) calc(var(--pixel) * 14) 0  var(--g-2),
    calc(var(--pixel) * 3) calc(var(--pixel) * 14) 0  var(--g-3),
    calc(var(--pixel) * 4) calc(var(--pixel) * 14) 0  var(--g-3),
    calc(var(--pixel) * 5) calc(var(--pixel) * 14) 0  var(--g-3),
    calc(var(--pixel) * 6) calc(var(--pixel) * 14) 0  var(--g-3),
    calc(var(--pixel) * 7) calc(var(--pixel) * 14) 0  var(--g-3),
    calc(var(--pixel) * 8) calc(var(--pixel) * 14) 0  var(--g-1),
    calc(var(--pixel) * 9) calc(var(--pixel) * 14) 0  var(--g-2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 14) 0 var(--g-1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 14) 0 var(--g-2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 14) 0 var(--g-3),
    calc(var(--pixel) * 13) calc(var(--pixel) * 14) 0 var(--g-2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 14) 0 var(--g-3),
    calc(var(--pixel) * 15) calc(var(--pixel) * 14) 0 var(--g-2),
    calc(var(--pixel) * 16) calc(var(--pixel) * 14) 0 var(--g-2),
    /* r:15 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 15) 0  var(--g-1),
    calc(var(--pixel) * 2) calc(var(--pixel) * 15) 0  var(--g-1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 15) 0  var(--g-2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 15) 0  var(--g-3),
    calc(var(--pixel) * 5) calc(var(--pixel) * 15) 0  var(--g-1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 15) 0  var(--g-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 15) 0  var(--g-3),
    calc(var(--pixel) * 8) calc(var(--pixel) * 15) 0  var(--g-3),
    calc(var(--pixel) * 9) calc(var(--pixel) * 15) 0  var(--g-3),
    calc(var(--pixel) * 10) calc(var(--pixel) * 15) 0 var(--g-2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 15) 0 var(--g-2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 15) 0 var(--g-3),
    calc(var(--pixel) * 13) calc(var(--pixel) * 15) 0 var(--g-2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 15) 0 var(--g-2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 15) 0 var(--g-3),
    calc(var(--pixel) * 16) calc(var(--pixel) * 15) 0 var(--g-1),
    /* r:16 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 16) 0  var(--g-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 16) 0  var(--g-1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 16) 0  var(--g-3),
    calc(var(--pixel) * 4) calc(var(--pixel) * 16) 0  var(--g-3),
    calc(var(--pixel) * 5) calc(var(--pixel) * 16) 0  var(--g-2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 16) 0  var(--g-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 16) 0  var(--g-2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 16) 0  var(--g-1),
    calc(var(--pixel) * 9) calc(var(--pixel) * 16) 0  var(--g-2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 16) 0 var(--g-1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 16) 0 var(--g-3),
    calc(var(--pixel) * 12) calc(var(--pixel) * 16) 0 var(--g-3),
    calc(var(--pixel) * 13) calc(var(--pixel) * 16) 0 var(--g-3),
    calc(var(--pixel) * 14) calc(var(--pixel) * 16) 0 var(--g-2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 16) 0 var(--g-3),
    calc(var(--pixel) * 16) calc(var(--pixel) * 16) 0 var(--g-2);
}

.grass:checked ~ .screen .front.face::after,
.grass:checked ~ .screen .back.face::after,
.grass:checked ~ .screen .left.face::after,
.grass:checked ~ .screen .right.face::after {
  box-shadow:
    /* r:1 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 1) 0  var(--g-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 1) 0  var(--g-2),
    calc(var(--pixel) * 3) calc(var(--pixel) * 1) 0  var(--g-2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 1) 0  var(--g-3),
    calc(var(--pixel) * 5) calc(var(--pixel) * 1) 0  var(--g-3),
    calc(var(--pixel) * 6) calc(var(--pixel) * 1) 0  var(--g-2),
    calc(var(--pixel) * 7) calc(var(--pixel) * 1) 0  var(--g-3),
    calc(var(--pixel) * 8) calc(var(--pixel) * 1) 0  var(--g-2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 1) 0  var(--g-1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 1) 0 var(--g-2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 1) 0 var(--g-3),
    calc(var(--pixel) * 12) calc(var(--pixel) * 1) 0 var(--g-3),
    calc(var(--pixel) * 13) calc(var(--pixel) * 1) 0 var(--g-2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 1) 0 var(--g-3),
    calc(var(--pixel) * 15) calc(var(--pixel) * 1) 0 var(--g-3),
    calc(var(--pixel) * 16) calc(var(--pixel) * 1) 0 var(--g-2),
    /* r:2 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 2) 0  var(--g-2),
    calc(var(--pixel) * 2) calc(var(--pixel) * 2) 0  var(--g-3),
    calc(var(--pixel) * 3) calc(var(--pixel) * 2) 0  var(--g-1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 2) 0  var(--g-2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 2) 0  var(--g-2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 2) 0  transparent,
    calc(var(--pixel) * 7) calc(var(--pixel) * 2) 0  var(--g-2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 2) 0  var(--g-3),
    calc(var(--pixel) * 9) calc(var(--pixel) * 2) 0  var(--g-3),
    calc(var(--pixel) * 10) calc(var(--pixel) * 2) 0 var(--g-1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 2) 0 var(--g-1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 2) 0 var(--g-2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 2) 0 var(--g-3),
    calc(var(--pixel) * 14) calc(var(--pixel) * 2) 0 var(--g-2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 2) 0 var(--g-2),
    calc(var(--pixel) * 16) calc(var(--pixel) * 2) 0 var(--g-2),
    /* r:3 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 3) 0  var(--g-1),
    calc(var(--pixel) * 2) calc(var(--pixel) * 3) 0  transparent,
    calc(var(--pixel) * 3) calc(var(--pixel) * 3) 0  var(--g-1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 3) 0  var(--g-2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 3) 0  var(--g-2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 3) 0  transparent,
    calc(var(--pixel) * 7) calc(var(--pixel) * 3) 0  var(--g-2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 3) 0  transparent,
    calc(var(--pixel) * 9) calc(var(--pixel) * 3) 0  var(--g-2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 3) 0 var(--g-2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 3) 0 var(--g-1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 3) 0 var(--g-1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 3) 0 transparent,
    calc(var(--pixel) * 14) calc(var(--pixel) * 3) 0 var(--g-3),
    calc(var(--pixel) * 15) calc(var(--pixel) * 3) 0 var(--g-2),
    calc(var(--pixel) * 16) calc(var(--pixel) * 3) 0 transparent,
    /* r:4 */
    calc(var(--pixel) * 1) calc(var(--pixel) * 4) 0  transparent,
    calc(var(--pixel) * 2) calc(var(--pixel) * 4) 0  transparent,
    calc(var(--pixel) * 3) calc(var(--pixel) * 4) 0  transparent,
    calc(var(--pixel) * 4) calc(var(--pixel) * 4) 0  transparent,
    calc(var(--pixel) * 5) calc(var(--pixel) * 4) 0  var(--g-2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 4) 0  transparent,
    calc(var(--pixel) * 7) calc(var(--pixel) * 4) 0  transparent,
    calc(var(--pixel) * 8) calc(var(--pixel) * 4) 0  transparent,
    calc(var(--pixel) * 9) calc(var(--pixel) * 4) 0  var(--g-2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 4) 0 transparent,
    calc(var(--pixel) * 11) calc(var(--pixel) * 4) 0 var(--g-2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 4) 0 transparent,
    calc(var(--pixel) * 13) calc(var(--pixel) * 4) 0 transparent,
    calc(var(--pixel) * 14) calc(var(--pixel) * 4) 0 transparent,
    calc(var(--pixel) * 15) calc(var(--pixel) * 4) 0 transparent,
    calc(var(--pixel) * 16) calc(var(--pixel) * 4) 0 transparent;
}

@keyframes rotate {
  from {
    transform: rotateX(0) rotateY(0);
  }

  to {
    transform: rotateX(360deg) rotateY(540deg);
  }
}
