body {
  padding: 0;
  margin: 0;
}

.loading-mask {
  width: 100vw;
  height: 100vh;

  background-color: rgba(33, 33, 33, 0.8);
}

.words {
  position: absolute;
  bottom: 30px;
  right: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.word {
  font-size: 32px;
  color: white;
  animation: jump 1800ms ease-in-out infinite;
}

.word:nth-child(1) { animation-delay: 0; }
.word:nth-child(2) { animation-delay: 100ms; }
.word:nth-child(3) { animation-delay: 200ms; }
.word:nth-child(4) { animation-delay: 300ms; }
.word:nth-child(5) { animation-delay: 400ms; }
.word:nth-child(6) { animation-delay: 500ms; }
.word:nth-child(7) { animation-delay: 600ms; }
.word:nth-child(8) { animation-delay: 700ms; }
.word:nth-child(9) { animation-delay: 800ms; }
.word:nth-child(10) { animation-delay: 900ms; }
.word:nth-child(11) { animation-delay: 1000ms; }
.word:nth-child(12) { animation-delay: 1100ms; }
.word:nth-child(13) { animation-delay: 1200ms; }
.word:nth-child(14) { animation-delay: 1300ms; }

@keyframes jump {
  0%,
  35% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  65%,
  100% {
    transform: translateY(0);
  }
}
